#accessnav, #sidebar, #footer, #top, #topnav, #totop, .single-pagination {
    display : none;
}

html {
    background : none;
}

body, #container {
    width : 100%;
}

h2, h2 a {
    padding-left : 0!important;
}

*{
    color : #000!important;
    background : none!important;
}